#FPGA_GCLK
NET "CLK" LOC = "N8";
#Timing constraint for the clock
NET "CLK" TNM_NET = "BOARD_CLOCK";
TIMESPEC "TS_BOARD_CLK" = PERIOD "BOARD_CLOCK" 125 ns high 50%;

#BTNs
NET "DIR" LOC = "P8";

#LEDs
NET "LED<0>" LOC = "N3";
NET "LED<1>" LOC = "P3";
NET "LED<2>" LOC = "N4";
NET "LED<3>" LOC = "P4";